
<div class="contact_container">
  <div id="contact" >
    <!-- add one space after h3 tag to give it a natural personal feel, remove for cleaner flatter, clinical feel -->
    <h3>&nbsp;TAG You're it</h3>
    <h4><center>We're happy to hear from you</center></h4>
<%= form_for @message do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>
      </h2>

      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <ul>
    </div>
  <% end %>
<div align="center">

  <div class="field"><fieldset>
    <%= f.text_field(:name, placeholder: "Name", tabindex: "1", type: "text", required: "autofocus")%></fieldset>
  </div>

  <div class="field"><fieldset>
    <%= f.email_field(:email, placeholder: "Email", tabindex: "2", type: "email", required: true)  %></fieldset>
  </div>

  <div class="field"><fieldset>
    <%= f.text_field(:subject, placeholder: "Topic", tabindex: "3", type:"subject", required: true)  %></fieldset>
  </div>

  <div class="field"><fieldset>
    <%= f.text_area(:content, placeholder: "Message...", tabindex: "4", required: true)  %></fieldset>
  </div>
  <div><fieldset>
    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    <!-- below may conflict with gem api of it's use -->
    <!-- <div class="g-recaptcha" data-sitekey="6Le9OBYTAAAAAKRplmNvSVMOpE0U_CImiZ37c1MQ"></div> -->
  </div>
  <!-- reCAPTCHA gem tag  -->
  <%= recaptcha_tags ssl: true %>
<% end %>
<!-- some new divs -->
</div> <!-- id="error_explanation" -->
</div> <!-- id="contact" -->
</div> <!-- class="contact_container" -->

<hr><hr>
