<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :detail %><br>
    <%= f.text_area :detail %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_area :location %>
  </div>
  <!-- <div class="field">
    <%= f.label :location %><br>
    <%= f.text_area :location %>
  </div> -->
  <!-- 
  <%= f.radio_button :multiple_classes, "1", checked: @task.multiple_classes?, class: 'multiple_classes', data: { question: 'What is your average class size?' } %>
  <%= f.label :multiple_classes, "Yes", class: 'multiple_classes' %>

  <%= f.radio_button :multiple_classes, "0", checked: @task.multiple_classes?, class: 'multiple_classes', data: { question: 'How many kids do you teach?' } %>
  <%= f.label :multiple_classes, "No", class: 'multiple_classes' %>
   -->
  <!-- <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
