<p id="notice"><%= notice %></p>

<div class="panel-heading"><h2>TAG's</h2></div>
<!-- <%#= @my_id %> dono what this was doing.. delete in 2 days-->
<div class="panel panel-info">
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Price</th>
      <th>Detail</th>
      <th>Location</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
  </thead>

<!-- debugging -->
<% if user_signed_in? %>
Current User Id : <%= current_user.id %>
<% end %>
<!-- debug -->

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.date %></td>
        <td><%= task.price %></td>
        <td><%= task.detail %></td>
        <td><%= task.location %></td>
        <!-- <td><%= task.user_id %></td> -->
        <td><%= task.user.name %></td>
        <td><%= task.task_status %></td>
        <!-- <td><%= task.user.email %></td> -->
        <td><%= link_to 'Show', task %></td>
        <!-- removed edit / destroy from un-owners in logic prior to view conditional below -->
        <!-- decided not to show edit - destroy to anyone on front page, only show page allows edits -->
        <!-- Might need to add edit to show page -->
        <!-- <% if task.user == current_user %>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Clear', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %> -->

      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Task', new_task_path %>
