<p id="notice"><%= notice %></p>

<div class="panel-heading"><h2>TAG's</h2></div>
<!-- <%#= @my_id %> dono what this was doing.. delete in 2 days-->
<div class="panel panel-info">
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Price</th>
      <th>Detail</th>
      <th>Location</th>
      <!-- <th>Owner</th> -->
      <th>Status</th>
      <th colspan="1">&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.date %></td>
        <td><%= task.price %></td>
        <td><%= task.detail %></td>
        <td><%= task.location %></td>
        <!-- <td><%= task.user.name %></td> -->
        <td><%= task.task_status %></td>
        <td><%= link_to "TAG˚", accept_available_task_path([:id] => task[:id]), method: :patch, data: { confirm: "Accept this TAG ?" }%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Task', new_task_path %>
<hr>
