<p id="notice"><%= notice %></p>
<div class="panel-heading"><h2>Accepted TAG's</h2></div>

<!-- the little lined box around everythine info, success, warning are alternatives -->
<div class="panel panel-info">
  <!-- This above lines defined, below a simple table class to clean it up -->
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Price</th>
      <th>Detail</th>
      <th>Location</th>
      <th>User</th>
      <th>ID</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.date %></td>
        <td><%= task.price %></td>
        <td><%= task.detail %></td>
        <td><%= task.location %></td>
        <td><%= task.user.name %></td>
        <td><%= task.user_id %></td>
        <td><%= task.task_status %></td>
        <td><%= link_to 'Show', task %></td>

        <% if task.task_status != "Finished" %>
          <td><%= link_to "TAG˚ Finished", finished_task_path([:id] => task[:id]), method: :patch, data: { confirm: "TAG Finished for Review ?" }%></td>
        <% end %>
      </tr>
    <% end %>

  </tbody>

</table></div>
<!-- <%#= @other_user_task_status_options %> -->
<br>
<!--  Fix link below to something meaningful -->
<!-- <%#= link_to 'My Tags', my_task_path %> -->
