<p id="notice"><%= notice %></p>
<div class="panel-heading"><h2>My TAG's</h2></div>

<!-- the little lined box around everythine info, success, warning are alternatives -->
<div class="panel panel-info">
  <!-- This above lines defined, below a simple table class to clean it up -->
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Price</th>
      <th>Detail</th>
      <th>Location</th>
      <th>User</th>
      <th>ID</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.date %></td>
        <td><%= task.price %></td>
        <td><%= task.detail %></td>
        <td><%= task.location %></td>
        <td><%= task.user.name %></td>
        <td><%= task.user_id %></td>
        <td><%= task.task_status %></td>

        <% if task.task_status == "Finished" %>
            <td><%= link_to 'Show', task %></td>
            <td><%= link_to "Complete TAG˚", complete_task_path([:id] => task[:id]), method: :patch, data: { confirm: "TAG to be marked Completed and Payment submitted?" }%></td>
        <% else %>
          <td><%= link_to 'Show', task %></td>
          <td><%= link_to 'Clear', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>

  </tbody>

</table></div>
<%= @my_task_status_options %> <!-- list all status options -->
<br>

<%= link_to 'New Task', new_task_path %>
