<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @task.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @task.price %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @task.detail %>
</p>

<p>
  <strong>Location:</strong>
  <%= @task.location %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @task.user.name %>
</p>

<p>
  <strong>e-mail:</strong>
  <%= @task.user.email %>
</p>

<!-- Don't think this should be user defined, it should tie into the current_user / session -->
<!-- <p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p> -->

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
