<% header "Secret!" %>
<!--  Changing lng below to lon which is specified in the db fails -->
<!--  Due to this, we may create a lng with the same specs -->

<div id="map"></div>
<!--  https://developers.google.com/maps/documentation/javascript/infowindows  // helpful -->
<!-- Modifying to use  Geotag Demo js Beg -->
<script>
function initialize() {

    var tasks = [<%= raw @tasks.to_json %>][0]; // why does this have enclosing elements?

    window.map = new google.maps.Map(document.getElementById('map'), {
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        zoom: 11 // affects the zoom?  may not with so many markers spread out
    });

    var infowindow = new google.maps.InfoWindow();

    var bounds = new google.maps.LatLngBounds();

    for (i = 0; i < tasks.length; i++) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(tasks[i].lat, tasks[i].lon),
            title: tasks[i].title,
            map: map
        });

        bounds.extend(marker.position);
  // Is this the click response..should all markers already list info so the click goes to info page?
        google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
                  //  var tag = tasks[i].price; // rig the varrible object for setContent
                  //  tag = tasks[i].title;
                  //  var tag = tasks[i].title + "  " + tasks[i].price;
                  // var tag = (`<strong>${tasks[i].title}</strong> | ${tasks[i].price}`);
                  // var tag = (`<a href="/tasks/${tasks[i].id}">${tasks[i].title}</a> | ${tasks[i].price}`); // let price be asked for go for tag on filterd results for now
              // step prior to filtered results and TAG˚ link added
                var tag = (`<a href="/tasks/${tasks[i].id}">${tasks[i].title}</a> | ${tasks[i].price}`);
                infowindow.setContent(tag);
                infowindow.open(map, marker);
            }
        })(marker, i));
    }

    map.fitBounds(bounds);
}

function loadScript() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    // script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' + 'callback=initialize';
    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' + 'callback=initialize';
    document.body.appendChild(script);
}

// window.onload = loadScript;

</script>

<!-- Modifying for use:  Geotag Demo js fin~ -->

<%= @tasks.count %><br><hr>
<% @tasks.each do |task| %>
  <%= task.title %>
  <%= task.price %>
  <%= task.location %> [
  <%= task.lat %> ::
  <%= task.lon %> ]
  <br><br>
<% end %>
