<% header "Secret!" %>
<!--  Changing lng below to lon which is specified in the db fails -->
<!--  Due to this, we may create a lng with the same specs -->

<div id="map"></div>
<script>
    function initMap() {

      // possibly maybe, set the task to task2 so the instance variable doesn't get clobbered here
      // var tasks = [<%= raw @tasks.to_json %>][0]; // from geotag demo, may have clobbered first 2 locations

      var myLatLon = {lat: 34.0837344, lng: -118.3224372};
      var map = new google.maps.Map(document.getElementById('map'), {
        // mapTypeId: google.maps.MapTypeId.ROADMAP // dono if location clobber was here or above
        zoom: 11,
        center: myLatLon
      });

      var marker = new google.maps.Marker({
        position: myLatLon,
        map: map,
        title: 'Goodbye 2015, Good Bye'
      });
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?&callback=initMap"></script>
<%= @tasks.count %><br><hr>
<% @tasks.each do |task| %>
  <%= task.title %>
  <%= task.price %>
  <%= task.location %> [
  <%= task.lat %> ::
  <%= task.lon %> ]
  <br><br>
<% end %>
